.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #D9D9D9;
  color: black;
  padding-top: 1.4rem;
  padding-bottom: 1.3rem;
  padding-right: 1.6rem;
}

