<div style="background-color: #1a2b42; color: rgb(214, 228, 239); text-align: center; height: 100%">
    <h1>New enrollment in your {{sessionType}}</h1>
    <p
        style="font-size: 24px; font-weight: bold; color: #67f494; background-color: #4c5267; text-align: center; padding: 2.5rem 5rem 2.5rem 5rem;">
        {{message}}</p>
    <footer style="position: fixed; width: 100%; bottom:0;">
        <p>if you have any issues or question, feel free to contact us.</p>
        <p>Best regradns,<br>Academic Link Team</p>
    </footer>
</div>