<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        background-color: #1a2b42;
        color: rgb(214, 228, 239);
        text-align: center;
      "
    >
      <h1>Reset your password</h1>
      <p>
        we have received a request to reset the password for your account on
        Academic link, Use the following code to reset your password:
      </p>
      <p
        style="
          font-size: 24px;
          font-weight: bold;
          color: #67f494;
          background-color: #4c5267;
          padding-bottom: 2.5rem;
          padding-top: 2.5rem;
          padding-left: 5rem;
          padding-right: 5rem;
          text-align: center;
        "
      >
        {{token}}
      </p>
      <p>
        Please note that this password reset code is valid for a limited time.
      </p>
      <p>If you did not request this reset, you can ignore this email.</p>
      <p>if you have any issues or question, feel free to contact us.</p>
      <p>Best regradns,<br />Academic Link Team</p>
    </div>
  </body>
</html>
